requests==2.18.4
aiohttp=3.4.4
tqdm==4.23.4
gensim==3.4.0
elasticsearch==6.3.0
pymongo==3.7.1
nltk==3.2.5
Pygments==2.2.0
numpy==1.14.5
Markdown==2.6.11
setuptools==38.4.0
typing==3.6.2
beautifulsoup4==4.6.3
GitPython==2.1.11
python_json_logger==0.1.9
git+https://github.com/ONSdigital/dp4py-config.git@master#egg=dp4py_config
git+https://github.com/ONSdigital/dp4py-logging.git@master#egg=dp4py_logging
git+https://github.com/ONSdigital/dp4py-sanic.git@master#egg=dp4py_sanic